@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  box-sizing: border-box;
}

@layer base {
  :root {
    --color-primary: 248 113 113;
    --color-secondary: 113 247 159;
    --color-background: 255 255 255;
    --color-text: 0 0 0;
    --color-text-secondary: 0 0 0;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 248 113 113;
      --color-secondary: 113 247 159;
      --color-background: 0 0 0;
      --color-text: 255 255 255;
      --color-text-secondary: 0 0 0;
    }
  }
}

::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
  height: 5px; /* Adjust the height of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #f87171; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}

/* Customize the scrollbar thumb when being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #f8717182; /* Change the color when hovered */
}

/* Customize the scrollbar thumb when being dragged */
::-webkit-scrollbar-thumb:active {
  background-color: #f95a5a; /* Change the color when being dragged */
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  border-bottom: #362da5 2px solid;
}

.active:hover {
  border-bottom: #716cf4 2px solid;
}
